/* titillium-web-regular - latin */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/titillium-web-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/titillium-web-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/titillium-web-v9-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/titillium-web-v9-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/titillium-web-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/titillium-web-v9-latin-regular.svg#TitilliumWeb")
      format("svg"); /* Legacy iOS */
}

/* titillium-web-600 - latin */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/titillium-web-v9-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/titillium-web-v9-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/titillium-web-v9-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/titillium-web-v9-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/titillium-web-v9-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/titillium-web-v9-latin-600.svg#TitilliumWeb") format("svg"); /* Legacy iOS */
}

/* titillium-web-700 - latin */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/titillium-web-v9-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/titillium-web-v9-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/titillium-web-v9-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/titillium-web-v9-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/titillium-web-v9-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/titillium-web-v9-latin-700.svg#TitilliumWeb") format("svg"); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v15-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/poppins-v15-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v15-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v15-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v15-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v15-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v15-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v15-latin-500.svg#Poppins")
      format("svg"); /* Legacy iOS */
}

html,
body {
  height: 100%;
  top: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.navbar-brand {
  font-family: "Titillium Web", sans-serif;
}

/* #paste-text {
  color: white;
  height: 720px;
  background-color: rgb(51, 51, 51);
  resize: none;
  border-color: yellowgreen;
  font-family: "Titillium Web", sans-serif;
}

#paste-text:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem yellowgreen;
} */

.btn {
  font-family: "Poppins", sans-serif;
  margin-left: 15px;
}

.paste__heading {
  font-family: "Titillium Web", sans-serif;
  padding: 10px;
}

.paste-form {
  padding-left: 30px;
  background-color: rgb(51, 51, 51);
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown,
.dropdown > a,
.dropdown > a:hover {
  list-style-type: none;
  color: black;
}

.info {
  padding: 10px;
}

.settings-li {
  list-style: none;
}

.CodeMirror {
  /* Bootstrap Settings */
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  overflow: auto;
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); /* Bootstrap 3 */
  box-shadow: none; /* Bootstrap 4 */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  /* Code Mirror Settings */
  font-family: monospace;
  position: relative;
  overflow: hidden;
}

.CodeMirror-focused {
  /* Bootstrap Settings */
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6); /* Bootstrap 3 */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Bootstrap 4 */
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

code {
  padding: 16px;
  text-align: center;
}

code a {
  color: red;
}

.api__heading {
  font-family: "Titillium Web", sans-serif;
  padding: 10px;
  text-align: center;
}
